[submodule "sites/all/themes/omega"]
	path = sites/all/themes/omega
	url = http://git.drupal.org/project/omega.git
	branch = 7.x-4.x
[submodule "sites/all/modules/contrib/admin_menu"]
	path = sites/all/modules/contrib/admin_menu
	url = http://git.drupal.org/project/admin_menu.git
	branch = 7.x-3.x
[submodule "sites/all/modules/contrib/panels"]
	path = sites/all/modules/contrib/panels
	url = http://git.drupal.org/project/panels.git
	branch = 7.x-3.x
[submodule "sites/all/modules/contrib/views"]
	path = sites/all/modules/contrib/views
	url = http://git.drupal.org/project/views.git
	branch = 7.x-3.x
[submodule "sites/all/modules/contrib/ctools"]
	path = sites/all/modules/contrib/ctools
	url = http://git.drupal.org/project/ctools.git
	branch = 7.x-1.x
